@layer layout {
  .grid {
    max-inline-size: var(--max-inline-size-dashboard);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "main-card"
      "activities";
    row-gap: var(--gap-profile-card);
  }

  .card--main {
    grid-area: main-card;
  }
 
  .activities {
    grid-area: activities;
  }

  .activities__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--gap-profile-card);
  }
}

@media (min-width: 48em) {
  .activities__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap-profile-card);
  }
}

@media (min-width: 64em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    column-gap: var(--gap-profile-card);
    grid-template-areas:
      "main-card activities activities activities"
      "main-card activities activities activities";
  }
}
