@layer components {
  .activity {
    border-radius: var(--br-card);
  }

  .activity__details {
    background-color: var(--bg-card);
    border-radius: var(--br-card);
  }

  .activity__details:hover {
    background-color: var(--bg-card-hover);
    cursor: pointer;
  }

  .activity__icon {
    display: block;
    inline-size: 100%;
    block-size: var(--block-size-activity-figure);
  }

  .activity__time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .activity__current-time {
    font-size: var(--fs-current-time);
    font-weight: var(--fw-light);
    color: var(--fc-current-time);
  }

  .activity__time-stamp {
    font-size: var(--fs-previous-time);
    font-weight: var(--fw-regular);
    color: var(--fc-previous-time);
  }

  @media (min-width: 48em) {
    .activity__time-container {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
