@layer tokens {
    :root {
        --bg-primary: var(--navy-950);
        --bg-header: var(--purple-600);
        --bg-card: var(--navy-900);
        --bg-card-hover: var(--navy-800);
        --bg-card--work: var(--orange-300);
        --bg-card--play: var(--blue-300);
        --bg-card--study: var(--pink-400);
        --bg-card--exercise: var(--green-400);
        --bg-card--social: var(--purple-700);
        --bg-card--self-care: var(--yellow-300);
        --fc-report: var(--grey-200);
        --fc-name: var(--white);
        --fc-buttons: var(--purple-500);
        --fc-button-selected: var(--white);
        --fc-body: var(--white);
        --fc-previous-time: var(--navy-200);
        --fc-options-icon: var(--navy-200);
        --bg-border: var(--white);
    }
}