@layer tokens {
  :root {
    --base-sizing: 16;

    /* Sizing */
    --size-21: calc(21 / var(--base-sizing) * 1rem);
    --size-33: calc(33 / var(--base-sizing) * 1rem);
    --size-38: calc(38 / var(--base-sizing) * 1rem);
    --size-64: calc(64 / var(--base-sizing) * 1rem);
    --size-66: calc(66 / var(--base-sizing) * 1rem);
    --size-72: calc(72 / var(--base-sizing) * 1rem);
    --size-78: calc(78 / var(--base-sizing) * 1rem);
    --size-90: calc(90 / var(--base-sizing) * 1rem);
    --size-100: calc(100 / var(--base-sizing) * 1rem);
    --size-109: calc(109 / var(--base-sizing) * 1rem);
    --size-327: calc(327 / var(--base-sizing) * 1rem);
    --size-520: calc(520 / var(--base-sizing) * 1rem);
    --size-612: calc(612 / var(--base-sizing) * 1rem);
    --size-677: calc(677 / var(--base-sizing) * 1rem);
    --size-1116: calc(1116 / var(--base-sizing) * 1rem);
    --size-1307: calc(1307 / var(--base-sizing) * 1rem);
  }
}
