@layer tokens {
  :root {
    /* Sizing */
    --size-21: calc(21 / var(--base) * 1rem);
    --size-33: calc(33 / var(--base) * 1rem);
    --size-38: calc(38 / var(--base) * 1rem);
    --size-45: calc(45 / var(--base) * 1rem);
    --size-64: calc(64 / var(--base) * 1rem);
    --size-66: calc(66 / var(--base) * 1rem);
    --size-72: calc(72 / var(--base) * 1rem);
    --size-74: calc(74 / var(--base) * 1rem);
    --size-78: calc(78 / var(--base) * 1rem);
    --size-90: calc(90 / var(--base) * 1rem);
    --size-100: calc(100 / var(--base) * 1rem);
    --size-109: calc(109 / var(--base) * 1rem);
    --size-327: calc(327 / var(--base) * 1rem);
    --size-520: calc(520 / var(--base) * 1rem);
    --size-640: calc(612 / var(--base) * 1rem);
    --size-1116: calc(1116 / var(--base) * 1rem);
  }
}
